# Training-Testing Data

Train test split is a technique used to divide a dataset into training and testing sets. 

Train-test split is used to evaluate the performance of a machine learning model.

The training set is used to train the model, while the testing set is used to evaluate its performance on unseen data. 

By splitting the data, we can estimate how well the model generalizes to new data. 

The test set's actual values (y_test) are compared with the predicted values (model.predict(x_test)) to calculate the accuracy score (model.score(x_test, y_test) * 100), which represents the model's performance.

In [28]:
#Import the necessary libraries
import pandas as pd
import numpy as np

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
# Read the dataset

df=pd.read_csv('houseprice.csv')

In [31]:
# Display the first 5 rows of the dataset

df.head(5)

  Town  Area    Price
0    A  1000  1000000
1    A  2000  2500000
2    A  2200  3000000
3    A  2500  3400000
4    A  3000  4000000

In [32]:
# Perform label encoding on the 'Town' column using LabelEncoder

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit_transform(df.Town)

array([0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2])

In [33]:
df.Town=le.fit_transform(df.Town)
df

    Town  Area    Price
0      0  1000  1000000
1      0  2000  2500000
2      0  2200  3000000
3      0  2500  3400000
4      0  3000  4000000
5      1  3500  5000000
6      1  2000  3000000
7      1  2100  3200000
8      1  2200  3300000
9      2  2700  4000000
10     2  2200  3500000
11     2  2500  3700000
12     2  3000  4000000
13     2  3500  4400000
14     2  4000  4800000
15     2  4500  5000000

In [34]:
# Split the dataset into features (x) and target variable (y)

x = df[['Town','Area']]
y = df['Price']

In [35]:
# Perform train-test split with a test size of 0.2 (80% training data, 20% testing data)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [36]:
len(x_train)
print(x_train)

    Town  Area
6      1  2000
8      1  2200
10     2  2200
2      0  2200
11     2  2500
12     2  3000
15     2  4500
1      0  2000
0      0  1000
4      0  3000
13     2  3500
9      2  2700

In [37]:
len(x_test)

4

In [38]:
# Import the LinearRegression model from scikit-learn

from sklearn.linear_model import LinearRegression

In [39]:
# Create an instance of the LinearRegression model

model=LinearRegression()

In [40]:
# Train the model on the training data

model.fit(x_train,y_train)

LinearRegression()

In [41]:
# Predict the target variable for the testing set

model.predict(x_test)

array([4281164.54502593, 3090959.45308817, 5003400.51862329,
       2970851.0136728 ])

In [42]:
# Display the actual target variable values for the testing set

y_test

5     5000000
3     3400000
14    4800000
7     3200000
Name: Price, dtype: int64

In [43]:
# Calculate the accuracy score of the model on the testing set

model.score(x_test,y_test)*100

72.84186538944806